@import 'src/styles/vars';


.activity-form-modal {
 
  width:40%;
  margin: 3*$gutter auto;
  background-color: $whiteColor;
  padding: 0.5rem;

  @media (max-width: $tablet){
    width: 50%;
  }
  @media (max-width: $lg-mobile){
    width: 85%;
  }
  
  span{
    display: block;
    margin:0 0 0 auto;
    text-align: right;
    font-size: 2rem;
  }

  h2{
    margin-top: 0;
  }
  .activity-form-button{
    display: block;
    margin:0 auto;
    &-close {
      cursor: pointer;
    }
  }
  
}





