@import 'src/styles/vars';

.activity-edit-element {
  .field {
    margin: 0.25rem;
    position: relative;
    margin-bottom: 1rem;
    
    label {
      font-size: 1.2rem;
      font-weight: bold;
      color: $blackColor;
      display: block;
      margin-bottom: 0.25rem;
    }
    select {
      margin-top: 0.5rem;
      width: 100%;
      height: 2rem;
      border: 1px solid $greyColorDarker;
      border-radius: 0.5rem;
      &:focus {
        border-color: $greyColorDarker;
      }

      &-label {
        color: $primaryColor;
      }
    }

   
  }
}

