@import 'src/styles/vars';

.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  &.small {
    position: relative;
    width: fit-content;
    background-color: transparent;
  }
}

#loading {
  width: 16em;
  height: 16em;
  fill: $primaryColor;
  @media (min-width: $tablet) {
    width: 20em;
    height: 20em;
  }

  &.small {
    width: 2em;
    height: 2em;
  }
}

#loadingCircle {
  animation: spin 20s linear infinite;
  animation-direction: normal;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
