@import 'src/styles/vars';

.team-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .team-card{
    border-radius: 0.3*$gutter;
    padding: 0.5*$gutter;
    background-color: $whiteColor;
    align-items: center;
  
  


    h2{
      font-weight: bold;
      margin: 0.5*$gutter;
    }

    li{
      padding: 0.1*$gutter;

      a{
        margin-left: 0.4*$gutter;
      }
    }
  }
 
  
}
