@import 'src/styles/vars';

.trip-details {
  .trip-activities {
    .activity-card.activity-card-plus {
      .activity-card-header {
        background-color: $greyColorDarker;
      }
      .activity-card-body {
        background-color: $whiteColor;
        h2 {
          margin: 0;
          padding: 1rem;
          text-align: center;
          line-height: 125%;
        }
      }
    }
  }
}
