@import "src/styles/vars";

.profile{
  width:70%;
  margin:0 auto;

    h1{
    margin-bottom: 2.5rem;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  
  .profile-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  

    @media (max-width: $tablet) {
      flex-direction: column;
    }

    .profile-head-img{
      width:40%;

      @media (max-width: $tablet) {
        width:100%;
      }

      .profile-head-img-picture{
        max-width:200px;
        max-height:200px;
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 2rem;
      }

      button{
        width:50%;
        font-size: 0.8rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
    }

    .profile-head-information {
        

        @media (max-width: $tablet) {
          width:100%;
          margin: 2rem auto;
        }
    

    form{
      display: flex;
      flex-direction: column;

      .button.button-secondary {
        margin-top: 1rem;
        align-self: flex-start;
        
      }
      .icon{
        color: $primaryColorDarker;
        display: block;
        width: 2rem;
        height: 2rem;
    
        &:hover{
          color: $primaryColor;
          cursor: pointer;
        }
    
        @media (max-width: $tablet) {
          width: 20%
        }
      }
   
      .last-input{
        margin-bottom: 0;

        
      }
      
    }
    &:nth-child(0n+4){
      background-color: red;
    }
    }
   
   
  }


  .profile-trip{
    margin-top:2rem;
    

   h2{
     text-align: left;
    

     @media (max-width: $tablet) {
      text-align: center;
      margin-left:0;
    }
    }

    .profile-trip-information{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2.5rem;

      p{
        width: 50%;
        margin-bottom: 2rem;
        

        @media (max-width: $tablet){
        width: 100%;
        text-align: center;
        }
      }
   
      button{
        width: 100px;
        height: 100px;
        border: none;
        border-radius:50%;
        background-color: $primaryColorDarker;
        font-size: 1rem;
        margin-right: 9rem;
        padding: none;
       

        &:hover {
          background-color: $primaryColorLighter;
        }
      
        @media (max-width: $tablet){
         margin: 0 auto;
        }
      }

    }
     
  }
}
