@import "src/styles/vars";

.profile{
  width:70%;
  margin:0 auto;

    h1{
    margin-bottom: 2.5rem;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  
  .profile-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  

    @media (max-width: $tablet) {
      flex-direction: column;
    }

    .profile-head-img{
      width:40%;

      @media (max-width: $tablet) {
        width:100%;
      }

      .profile-head-img-picture{
        width:200px;
        height:200px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 2rem;
      }

      button{
        width:100%;
      }
    }

    .profile-head-information {
        

        @media (max-width: $tablet) {
          width:100%;
          margin: 2rem auto;
        }
    }

    form{

      .icon{
        color: $primaryColorDarker;
        display: block;
        margin: 0 0 0 auto;
        width: 40px;
        height: 40px;
    
        &:hover{
          color: $primaryColor;
          cursor: pointer;
        }
    
        @media (max-width: $tablet) {
          width: 20%
        }
      }
    }
  }


  .profile-trip{
    margin-top:2rem;
    

   h2{
     text-align: left;
    

     @media (max-width: $tablet) {
      text-align: center;
      margin-left:0;
    }
    }

    .profile-trip-information{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2.5rem;

      p{
        width: 50%;
        margin-bottom: 2rem;
        

        @media (max-width: $tablet){
        width: 100%;
        text-align: center;
        }
      }

      button{
        width: 100px;
        height: 100px;
        border: none;
        border-radius:50%;
        background-color: $primaryColorDarker;
        font-size: 1rem;
        margin-right: 9rem;
       

        &:hover {
          background-color: $primaryColorLighter;
        }

        @media (max-width: $tablet){
         margin: 0 auto;
        }
      }

     
     }
  }
}
