@import 'src/styles/vars';


.profile-image-modal {
 
  width:40%;
  margin: 20% auto;
  background-color: $whiteColor;
  padding: 0.8rem;
  border-radius: 0.7rem;
  text-align: center;

  @media (max-width: $tablet){
    width: 50%;
  }
  @media (max-width: $lg-mobile){
    width: 85%;
  }
  
  span{
    display: block;
    margin:0 0 0 auto;
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
  }

  h2{
    margin-top: 0;
  }
  .profile-image-button{
    display: block;
    margin:0 auto;
  }


  img.preview {
    max-width:200px;
    max-height:200px;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  #profile-field-input{
    font-size: 1rem;
    margin-bottom: 1rem;
  }


}
