footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  .footer-container {
    max-width: 1152px;
    margin: 0 auto;
  }


  .footer-nav{
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    
    
    .footer-nav-item{

      display: inline-block;
      padding: 2rem;
      
      a{ 

      }
      &:hover{
        color: rgb(167, 167, 167);

       }
    } 
  }
}
