@import "src/styles/vars";

footer {
  background-color: $blackColor;
  position: sticky;
  bottom: 0;
  width: 100%;

  .footer-nav{
    color: white;
    font-size: 0.8rem;
    
    .footer-nav-item{

      display: inline-block;
      padding: 2rem;
      
      a{ 

      }
      &:hover{
        color: rgb(167, 167, 167);

       }
    } 
  }
}
