@import "src/styles/vars";

footer {
  background-color: $blackColor;
  position: fixed;
  bottom: -1px;
  width: 100%;
  padding: 2rem;
  .footer-container {
    max-width: 1152px;
    margin: 0 auto;
  }

  .footer-nav{
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    
    
    .footer-nav-item{

      display: inline-block;
      margin-right: 2rem;
      
      a{ 

      }
      &:hover{
        color: rgb(167, 167, 167);

       }
    } 
  }
}
