@import 'src/styles/vars';

.trip-details {
  section.suggestions {
    .trip-suggestions {
      .suggestion {
        width: 100%;
        max-width: 768px;
        border-radius: 0.5rem;
        // overflow: hidden;
        // padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        
        .suggestion-header {
          padding: 0.5rem;
          display: flex;
          align-items: center;

          .suggestion-header-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            .suggestion-title {
              font-size: 1.2rem;
              font-weight: 600;
              color: $blackColor;
              width: 100%;
            }
            .suggestion-author {
              font-weight: 600;
              color: $blackColor;
              display: flex;
              justify-content: space-between;
            }
            .suggestion-date {
              color: $greyColor;
              font-weight: 400;
            }
          }

          img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            margin-right: 0.5rem;
            object-fit: cover;
          }
        }

        .suggestion-body {
          padding: 0.5rem;
          // display: flex;
          // justify-content: space-between;
          // align-items: stretch;

          .suggestion-button--edit {
            display: block;
          }
        }
        .suggestion-description {
          margin-left: 3rem;
        }

        .suggestion-cta {
          align-self: flex-end;
          button {
            width: 2rem;
            height: 2rem;
            &.cta-delete {
              // color: $errorColor;
              &:hover {
                color: $errorColor;
              }
            }
            &.cta-edit {
              // color: $warningColor;
              &:hover {
                color: $primaryColorDarker;
              }
            }
          }
        }
      }
    }
  }
}
