@import 'src/styles/vars';

.contact{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  
  h1 {
    // display: block;
    width:100%;
    font-weight: bold;
    margin-bottom: 2*$gutter;
  }

  .contact-text{
    width: 100%;

    @media (min-width: $tablet) {
        width:50%
      }
    p, h3 {
      margin-bottom: 0.5*$gutter;
    }

    h3 {
      font-weight: bold;
      line-height: 125%;
    }

    a{
      color: $primaryColorDarker;
      &:hover{
        color: $primaryColor;
      }
    }
  }

  .contact-form{
    width: 100%;

    @media (min-width: $tablet) {
        width:40%
    }
        input, textarea {
          width:100%;
          margin-bottom: 0.5*$gutter;
          border: none;
          border-radius: 0.1*$gutter;
          background-color: $whiteColor;
          padding: 0.3*$gutter;
          &:focus {
            outline-color: $greyColorDarker;
          }

          input::placeholder,
          textarea::placeholder {
            color: $greyColorDarker;
            font-style: $fontBody;
          }
        }
        
        textarea{
            height: 3*$gutter;
        }
  }
}
      
  


