@import "src/styles/vars";

.profile-field{
  width: 100%;
  margin: 0 auto;
  
  label{
    width: 100px;
  }
  input{

    margin:0 1rem;
    padding: 0.3*$gutter;
    border:none;
    
    &:disabled{
      background-color: white;
    }
    
  }
  

  .pen{
    color: $primaryColorDarker;

    &:hover{
      color: $primaryColor;
      cursor: pointer;
    }
  }
}
