@import "src/styles/vars";

.profile-field{

  @media (max-width: $tablet) {
    margin:0 auto
  }

  .profile-field-label{
    display: block;
    width: 310px;
    font-weight: bold;

    @media (max-width: $laptop) {
      width:220px;
    }
  }

  label{
    margin: 0.5*$gutter 0 0.2*$gutter;
  }

  input{
    width: 280px;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $whiteColor;
   
    
    &:disabled{
      background-color: white;
  
    }


    @media (max-width: $laptop) {
      width:220px;
    }
    @media (max-width: $tablet) {
      width: 80%
    }

  }
  
}


