@import "src/styles/vars";

.trip-activities {
  .activities-list {
    display: flex;
    flex-direction: column;

    .activity-card {
      width: 100%;
      height: 360px;
      display: flex;
      margin: 1rem 0;
      @include transitionMedium;
      border: 1px solid $greyColorLighter;
      border-radius: 0.5rem;
      overflow: hidden;

      header.activity-card-header {
        height: 100%;
        width: 100%;
        max-width: 96px;
        padding: 1rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        color: $whiteColor;
        overflow: hidden;
        @media (min-width: $tablet) {
          max-width: 260px;
        }
      }

      .activity-card-body {
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .body-content {
        h4 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 1.5rem;
        }
        font-size: 1rem;
        line-height: 150%;
        height: 192px;
        .date,
        .location {
          margin-top: 0.5rem;
          display: flex;
          font-size: 1rem;
          p {
            width: 100%;
            overflow-y: auto;
            max-height: 3rem;
          }
          svg {
            margin-right: 0.5rem;
            color: $primaryColor;
            height: 2rem;
            width: 2rem;
          }
        }

        p.description {
          margin: 1rem 0;
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: $whiteColor;
          overflow-y: auto;
          max-height: 80px;
          @media (min-width: $tablet) {
            max-height: 120px;
          }
        }
      }

      .activity-cta {
        bottom: 0;
        align-self: flex-end;
        button {
          all: unset;
          cursor: pointer;
          margin-right: 1rem;
          svg {
            height: 2rem;
            width: 2rem;
          }
          svg.selector {
            color: $greyColor;
            &--selected {
              color: $warningColor;
              &:hover {
                color: $greyColor;
              }
            }
            &:hover {
              color: $warningColor;
            }
          }
          svg.delete {
            color: $greyColor;
            &:hover {
              color: $errorColor;
            }
          }
         
        }
      }
    }
  }
}
