@import 'src/styles/vars';

.tripFormImage-input {
  .tripType-group {
    .tripType-item {
      display: flex;
      align-items: center;
      label {
        margin: 0 1rem 0;
        font-weight: normal;
      }
      input {
        width: auto;
      }
    }
  }

  .extra {
    margin-top: 0.25rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    &-icon {
      height: 0.8rem;
      margin-right: 1rem;
    }
  }

  .preview {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    border: 1px solid $greyColorLighter;
  }

  .change-image-check {
    margin: 1rem 0;
  }
}
