@import 'src/styles/vars';

.login {
  text-align: center;
  h1 {
    margin-top: 1rem;
  }
  .connection-container {
    @include loginSigninContainer;

    .is-authenticated {
      p:last-of-type {
        margin-top: 1rem;
      }
      p a.redirect {
        color: $primaryColorDarker;
        &:hover {
          color: lighten($primaryColor, 16%);
        }
      }
    }

    form {
      label,
      p {
        margin-left: 0;
      }
      input {
        text-align: center;
      }

      button {
        display: block;
        width: 80%;
        @media (min-width: $tablet) {
          width: initial;
        }
        margin: 1rem auto 0;
      }
    }
    .login-layout {
      p {
        margin: $gutter 0;

        a {
          color: $primaryColorDarker;

          &:hover {
            color: lighten($primaryColor, 16%);
          }
        }
      }
      hr {
        width: 80%;
      }
    }
  }
}
