@import 'src/styles/vars';

main.trip-activities {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }
    h1 {
      margin-bottom: $gutter;
    }
    .cta {
      display: flex;
      flex-direction: column;
      @media (min-width: $tablet) {
        flex-direction: row;
        align-items: baseline;
      }
    }
  }
}
