@import "src/styles/vars";

.trip-form {
  h1 {
    text-align: center;
  }
  .trip-form {
    width: 50%;
  }
  .trip-form-element {
    width: 100%;
    @media (min-width: $tablet) {
      max-width: 50%;
      margin: 0 auto;
    }
  }
  .trip-form-button {
    display: block;
    width: 100%;
    @media (min-width: $tablet) {
      width: initial;
    }
    margin: 1rem auto 0;
  }

  form {
    margin-top: $gutter;
    margin: 0 auto;
  }
}
