**/*.svg
package.json
/dist
.DS_Store
.eslintignore
*.png
*.jpg
*.txt
*.ico
*ttf
.env.development
.env.production
*.map
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
/build
