@import 'src/styles/vars';

.error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 8rem;
    font-family: $fontBody;
    color: $blackColor;
    font-weight: 700;
  }
}

.homeButton {
  margin-top: $gutter * 2;
  color: $blackColor;
}
