@import 'src/styles/vars';

.trip-details {
  .trip-activities {
    .activity-card {
      width:280px;
      max-width: 100%;
      // max-width: 560px;
      height: 360px;
      display: block;
      margin: $gutter;
      @include transitionMedium;
      border: 1px solid $greyColorLighter;
      border-radius: 0.5rem;
      overflow: hidden;
      
      &:hover {
        // cursor: pointer;
        transform: translateY(-0.25rem);
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
      }
    }
    
    .activity-card-header {
      height: 200px;
      width: 100%;
      padding: 1rem;
      width:100%;
      background-size:cover;
      background-position: center;
      color: $whiteColor;
      overflow: hidden;
    }
    
    .activity-card-body {
      padding: 1rem;
      width:100%;
      height: 100%;
      h4 {
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 1.5rem;
      }
    }
    
    .date,
    .location {
      margin-top: 0.5rem;
      display: flex;
      font-size: 1rem;
      svg {
        margin-right: 0.5rem;
        color: $primaryColor;
      }
    }
    
    .body-content {
      padding-bottom: 2.5rem;
      font-size: 1rem;
      line-height: 150%;
    }
    
  }
  
}

//
