@import 'src/styles/vars';

.login{
  text-align: center;

  h1{
    margin-top: 0.5*$gutter;
    margin-bottom: $gutter;
  }

  .login-form{

   
    button{
      background-color: $primaryColor;
      border: none;

      &:hover{
        background-color: $primaryColorDarker;
        
      }
    }
  }
  .login-layout{
    p{
      margin: $gutter 0;

      a{
        color: $primaryColor;

        &:hover{
          color: $primaryColorDarker;
        }
      }

    }
    hr{
      width: 300px;
    }
  }
}
