@import "src/styles/vars";

.login {
  text-align: center;

  .login-form {
    form {
      width: 100%;
      @media (min-width: $tablet) {
        max-width: 50%;
        margin: 0 auto;
      }
    }

    button {
      display: block;
      width: 100%;
      @media (min-width: $tablet) {
        width: initial;
      }
      margin: 1rem auto 0;
    }
  }
  .login-layout {
    p {
      margin: $gutter 0;

      a {
        color: $primaryColor;

        &:hover {
          color: $primaryColorDarker;
        }
      }
    }
    hr {
      width: 300px;
    }
  }
}
