// Fonts

// Title
@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
  font-variation-settings: 100 900;
}

// Body
@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
