@import './vars';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontTitle;
  font-weight: 700;
}

// Sizing
h1 {
  font-size: 2.875rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
