// Variables
$primaryColor: #8ec5b6;
$primaryColor-1: #E9F6F3;
$primaryColor-2: #BFE2D8;
$primaryColor-3: #5EA390;
$primaryColor-4: #388771;
$secondaryColor: #1b1c1d;
$gutter: 2rem;

// Media Queries
$sm-mobile: "320px";
$mobile: "480px";
$lg-mobile: "576px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
