// Colours
// Primary
$primaryColor: #8ec5b6;
$primaryColorLighter: #bfe2d8;
$primaryColorDarker: #388771;
// Grey
$greyColor: #9ca2bb;
$greyColorLighter: #c8cbd9;
$greyColorDarker: #969eb4;
// Base
$blackColor: #2a2c34;
$whiteColor: #f3f5f9;
// Alert
$errorColor: #ee5860;
$warningColor: #e8a658;
$successColor: #17c297;
// 
$gutter: 2rem;

// Typo
$fontTitle: 'Quicksand', sans-serif;
$fontBody: 'Nunito', sans-serif;


// Media Queries
$sm-mobile: "320px";
$mobile: "480px";
$lg-mobile: "576px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
// $widescreen: "1440px";

// Transitions
@mixin transitionFast {
  transition: all ease 0.125s;
}

@mixin transitionMedium {
  transition: all ease 0.25s;
}

@mixin transitionSlow {
  transition: all ease 0.3s;
}
