@import 'reset';
@import 'fonts';
@import 'vars';

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $fontBody;
  color: $blackColor;
}

:root * {
  box-sizing: border-box;
}

p {
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontTitle;
}
