@import 'reset';
@import 'fonts';
@import 'vars';
@import 'typography';
@import './elements/buttons';

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: $fontBody;
  color: $blackColor;
  height: 100%;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  line-height: 150%;
}
