@import 'reset';
@import 'fonts';
@import 'vars';
@import 'typography';
@import './elements/buttons';

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: $fontBody;
  color: $blackColor;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  line-height: 150%;
}

// Message
.error-message {
  color: $errorColor;
  font-weight: bold;
  text-align: center;
}
