@import 'src/styles/vars';
.field{

  label{
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
  }

  input {
     width: 300px;
     padding: 0.4*$gutter;
     margin: 0.3*$gutter;
     border: solid 1px $greyDarker;
     border-radius: 0.1*$gutter;
     margin-bottom: $gutter;
   }
   }
