@import "src/styles/vars";

.login {
  form {
    .field {
      width: 100%;
      label {
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
      }

      input {
        width: 80%;
        padding: 1rem;
        margin: 0.5rem;
        border: solid 1px $greyColorDarker;
        border-radius: 0.5rem;
        margin-bottom: $gutter;
        text-align: center;
        &:focus {
          border-color: $greyColorDarker;
        }
        &::placeholder {
          color: $blackColor;
        }
      }
    }
  }
}
