@import "src/styles/vars";

.login {
  form {
    .field {
      label {
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
      }

      input {
        width: 100%;
        padding: 0.4 * $gutter;
        margin: 0.3 * $gutter;
        border: solid 1px $greyColorDarker;
        border-radius: 0.1 * $gutter;
        margin-bottom: $gutter;
        &:focus {
          border-color: $greyColorDarker;
        }
        &::placeholder {
          color: $blackColor;
        }
      }
    }
  }
}
