@import 'src/styles/vars';

.trip-details {
  .suggestion-form {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    label.field-label {
      width: 100%;
      display: block;
      font-weight: bold;
      font-size: 1rem;
    }
    input.field-input {
      width: auto;
      // max-width: calc(768px - 2.5rem);
      margin-top: 0.25rem;
      height: 2.5rem;
      padding: 0.75rem;
      font-size: 1rem;
      border: solid 1px $greyColorDarker;
      border-radius: 0.5rem;
      flex-grow: 2;
      &:focus {
        border-color: $greyColorDarker;
      }
      &::placeholder {
        color: $blackColor;
      }
    }

    button {
      margin-left: 0.5rem;
      color: $blackColor;
    }
  }
}
