@import 'src/styles/vars';

.trip-details {
  .suggestion-form {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      margin-left: 0.5rem;
      color: $blackColor;
      svg {
        margin-left: 0.5rem;
      }
    }
  }
}
