@import 'src/styles/vars';

.home-user {
  h1 {
    margin-bottom: $gutter;
  }

  .my-trips {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    @media (min-width: $tablet) {
      justify-content: flex-start;
    }
  }
}
